<% @coupons.each do |coupon| %>
  <div id="coupon-<%= coupon.id %>">
    <%= link_to coupon.name, merchant_coupon_path(@merchant, coupon) %><br />
    <% if coupon.percent_off? %>
      Value: <%= coupon.value %>% Off
    <% elsif coupon.dollar_off? %>
      Value: $<%= coupon.value %> Off
    <% end %>

    <br />
  </div>
<% end %>

<%= link_to "Add a New Coupon", new_merchant_coupon_path(@merchant) %>
